/.venv
/archive
/archive.zip

# Archivos y carpetas recomendados para ignorar en proyectos Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.env
.envrc
.vscode/
.idea/
.mypy_cache/
.pytest_cache/
.coverage
coverage.xml
*.cover
*.log
*.sqlite3
*.db
*.pyo
*.pyd
*.swp
*.bak
*.tmp
*.DS_Store
Thumbs.db
